# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

C:\Users\jgull\OneDrive\Dokument\GitHub\fantasy_master\data_cleaned\pl\incnew\1819\[5, 4, 1].csv
data_cleaned/pl/incnew/1819/[5, 4, 1].csv
data_cleaned/pl/1718/\[4, 3, 3\].csv
data_cleaned/pl/1718/\[3, 4, 3\].csv
data_cleaned/pl/1718/\[3, 5, 2\].csv
data_cleaned/pl/1718/\[4, 4, 2\].csv
data_cleaned/pl/1718/\[4, 5, 1\].csv
data_cleaned/pl/1718/\[5, 3, 2\].csv
data_cleaned/pl/1718/\[5, 4, 1\].csv
data_cleaned/pl/1819/\[3, 4, 3\].csv
data_cleaned/pl/1819/\[3, 5, 2\].csv
data_cleaned/pl/1819/\[4, 3, 3\].csv
data_cleaned/pl/1819/\[4, 4, 2\].csv
data_cleaned/pl/1819/\[4, 5, 1\].csv
data_cleaned/pl/1819/\[5, 3, 2\].csv
data_cleaned/pl/1819/\[5, 4, 1\].csv
data_cleaned/pl/1920/\[3, 4, 3\].csv
data_cleaned/pl/1920/\[3, 5, 2\].csv
data_cleaned/pl/1920/\[4, 3, 3\].csv
data_cleaned/pl/1920/\[4, 4, 2\].csv
data_cleaned/pl/1920/\[4, 5, 1\].csv
data_cleaned/pl/1920/\[5, 3, 2\].csv
data_cleaned/pl/1920/\[5, 4, 1\].csv
data_cleaned/pl/2021/\[3, 4, 3\].csv
data_cleaned/pl/2021/\[3, 5, 2\].csv
data_cleaned/pl/2021/\[4, 3, 3\].csv
data_cleaned/pl/2021/\[4, 4, 2\].csv
data_cleaned/pl/2021/\[4, 5, 1\].csv
data_cleaned/pl/2021/\[5, 3, 2\].csv
data_cleaned/pl/2021/\[5, 4, 1\].csv
*.csv
data/allsvenskan/players_raw.csv
data/pl_csv/players_noexp_1617.csv
data_cleaned/as/.~lock.\[3, 4, 3\].csv\#
data_cleaned/pl/incnew/1617/df/3.csv
data_cleaned/pl/incnew/1617/df/4.csv
data_cleaned/pl/incnew/1617/df/5.csv
data_cleaned/pl/incnew/1617/fw/1.csv
data_cleaned/pl/incnew/1617/fw/2.csv
data_cleaned/pl/incnew/1617/fw/3.csv
data_cleaned/pl/incnew/1617/gk.csv
data_cleaned/pl/incnew/1617/mf/3.csv
data_cleaned/pl/incnew/1617/mf/4.csv
data_cleaned/pl/incnew/1617/mf/5.csv
data_cleaned/pl/incnew/1819/df/3.csv
data_cleaned/pl/incnew/1819/df/4.csv
data_cleaned/pl/incnew/1617/mf/4.csv
data_cleaned/pl/incnew/1617/mf/3.csv
data_cleaned/pl/incnew/1617/gk.csv
data_cleaned/pl/incnew/1617/fw/3.csv
data_cleaned/pl/incnew/1617/fw/2.csv
data_cleaned/pl/incnew/1617/fw/1.csv
data_cleaned/pl/incnew/1617/df/5.csv
data_cleaned/pl/incnew/1617/df/4.csv
data_cleaned/pl/incnew/1617/df/3.csv
*.png
